.button {
  color: @color-black;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  padding: 12px 14px;
  border: 2px solid @color-black;
  background-color: transparent;
  transition: 0.3s;

  @media(min-width: @width-desktop) {
    padding: 18px 20px;
    font-size: 20px;
  }
}

.button--color--white {
  color: @color-white;
  border-color: @color-white;
}

.button--color--cyan {
  color: @color-white;
  border-color: @color-cyan;
  background-color: @color-cyan;
}

.button:hover {
  transform: scale(1.05, 1.05);
  cursor: pointer;
}

.button--active {
  color: @color-white;
  background-color: @color-cyan;
  border-color: @color-cyan;
  outline-color: inherit;
}

.button:focus {
  outline: 2px @color-cyan;
}
