.portfolio {
  padding-top: 70px;
  padding-bottom: 40px;

  @media(min-width: @width-tablet) {
    padding-top: 100px;
    padding-bottom: 60px;
  }

  @media(min-width: @width-desktop) {
    padding-top: 125px;
    padding-bottom: 80px;
  }
}

.portfolio__galery-buttons {
  margin-top: 30px;
  margin-bottom: 40px;

  @media(min-width: @width-tablet) {
    margin-top: 60px;
    margin-bottom: 70px;
  }

  @media(min-width: @width-desktop) {
    margin-top: 112px;
    margin-bottom: 120px;
  }
}

.portfolio__button {
  width: 180px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;

  @media(min-width: @width-tablet) {
    width: 150px;
    padding-left: 0;
    padding-right: 0;
  }

  @media(min-width: @width-desktop) {
    width: 179px;
  }
}

.portfolio__img-block {
  margin-bottom: 20px;
}
